In [1]:
from google.colab import drive


drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [2]:
import os


data_dir = '/content/gdrive/MyDrive/data/'
os.chdir(data_dir)
print('current dir:', os.getcwd())

current dir: /content/gdrive/MyDrive/data

In [6]:
import csv


with open(os.path.join(data_dir, 'test.csv'), 'r') as f:
    reader = csv.reader(f)
    print('reader = ', reader)
    next(reader)
    for row in reader:
        print('row = ', row)

reader =  <_csv.reader object at 0x7f1d73d1df28>
row =  ['6', '7', '8', '9', '10', '']
row =  ['11', '12', '13', '14', '15', '']
row =  ['16', '17', '18', '19', '20', '']
row =  ['21', '22', '23', '24', '25']